// user.scss
.wrapper {
    height: calc(100vh - 70px);
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

.cardBody {
    align-items: center;
}

// ユーザー情報ブロック
.userInfoWrapper {
    height: 100%;
    .userInfoContainer {
        height: 100%;
        .userInfoGridTop {
            height: 50%;
        }
        .userInfoGridBottom {
            height: 50%;
        }
    }
}

// ダッシュボードブロック
.dashboardWrapper {
    height: 100%;
    .dashboardContainer {
        height: 100%;
        .dashboardGridTop {
            height: 35%;
            .dashboardTop {
                height: 100%;
            }
        }
        .dashboardGridBottom {
            height: 65%;
            .dashboardBottom {
                height: 100%;
            }
        }
    }
}
