// user.scss
.container {
    height: calc(100vh - 100px);
    overflow: "hidden";
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

.cardBody{
    align-items: center;
}

// ユーザー情報ブロック
.userInfoContainer {
  height: 100%;
  .userInfoGridTop {
    height: 50%;
  }
  .userInfoGridMiddle {
    height: 15%;
  }
  .userInfoGridBottom {
    height: 35%;
  }
}

// ダッシュボードブロック
.dashboard {
    height: 100%;
    .dashboardGridTop {
        height: 15%;
        .dashboardTop {
            height: 100%;
        }
    }
    .dashboardGridMiddle {
        height: 25%;
        .dashboardMiddle {
            height: 100%;
        }
    }
    .dashboardGridBottom {
        height: 60%;
        .dashboardBottom {
            height: 100%;
        }
    }
}
