// user.scss
.container {
    height: calc(100vh - 100px);
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

// ユーザー情報ブロック
.userInfoContainer {
  height: 100%;
  .userInfoGridTop {
    height: 50%;
  }
  .userInfoGridMiddle {
    height: 15%;
  }
  .userInfoGridBottom {
    height: 35%;
  }
}

