// user.scss
.container {
    height: calc(100vh - 100px);
    overflow: "hidden";
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

// ユーザー情報ブロック
.userInfoContainer {
  height: 100%;
  .userInfoGridTop {
    height: 50%;
  }
  .userInfoGridBottom {
    height: 50%;
  }
}

// ダッシュボードブロック
.dashboard {
    height: 100%;
    .dashboardGridTop {
        height: 35%;
        .dashboardTop {
            height: 100%;
        }
    }
    .dashboardGridBottom {
        height: 65%;
        .dashboardBottom {
            height: 100%;
        }
    }
}
