// user.scss
.wrapper {
    height: calc(100vh - 80px);
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

// ダッシュボードブロック
.userDashboardWrapper {
    height: 100%;
    .dashboardContainer {
        height: 100%;
        .dashboardGridTop {
            height: 35%;
            .dashboardTop {
                height: 100%;
            }
        }
        .dashboardGridBottom {
            height: 65%;
            .dashboardBottom {
                height: 100%;
            }
        }
    }
}

//  スマホ
@media (max-width: 640px) {
    .wrapper {
        height: 100vh;

        // ユーザー情報ブロック
        .userInfoWrapper {
            height: calc(100vh - 80px);
            .userInfoContainer {
                height: 100%;
                .userInfoGridTop {
                    height: 50%;
                }
                .userInfoGridBottom {
                    height: 50%;
                }
            }
        }

        // ダッシュボードブロック
        .userDashboardWrapper {
            height: 100%;
            .dashboardContainer {
                height: 100%;
                .dashboardGridTop {
                    height: 100%;
                    .dashboardTop {
                        height: 100%;
                    }
                }
                .dashboardGridBottom {
                    height: 100%;
                    .dashboardBottom {
                        height: 100%;
                    }
                }
            }
        }
    }
}
