// user.scss
.wrapper {

}

.GridContainer{

}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

.cardBody {
    width: 50%;
    align-items: center;
}

.dashboardTopRight{
    .link{
        color: dodgerblue;
    }
}