// user.scss
.wrapper {
    height: 100%;
    .dashboardTopLeft {
        height: 100%;
    }

    .dashboardTopRight {
        height: 100%;
        .snsContainer{
            height: 100%;
        }
    }
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.card {
    height: 100%;
    /* その他のスタイル */
}

.cardBody {
    width: 50%;
    align-items: center;
}

.dashboardTopRight {
    .link {
        color: dodgerblue;
    }
}

// Laptop
@media (max-width: 1440px) {
    .wrapper {
        height: 100%;
        .dashboardTopLeft {
            height: 100%;
        }

        .dashboardTopRight {
            height: 100%;
        }
    }
}

//  スマホ
@media (max-width: 640px) {
    .wrapper {
        height: 100%;
        .dashboardTopLeft {
            height: 100%;
        }

        .dashboardTopRight {
            height: 100%;
        }
    }
}
