// user.scss
.wrapper {
    height: calc(100vh - 80px);

    .card {
        height: 100%;
    }

    // ユーザー情報ブロック
    .userInfoWrapper {
        height: 100%;
        .userInfoContainer {
            height: 100%;
            .userInfoGridTop {
                height: 50%;
            }
            .userInfoGridBottom {
                height: 50%;
            }
        }
    }

    // ダッシュボードブロック
    .userDashboardWrapper {
        height: 100%;
        .dashboardContainer {
            height: 100%;
            .dashboardGridTop {
                height: 35%;
            }
            .dashboardGridBottom {
                height: 65%;
            }
        }
    }
}

//  スマホ
@media (max-width: 640px) {
    .wrapper {
        height: 100vh;

        // ユーザー情報ブロック
        .userInfoWrapper {
            height: calc(100vh - 80px);
            .userInfoContainer {
                height: 100%;
                .userInfoGridTop {
                    height: 50%;
                }
                .userInfoGridBottom {
                    height: 50%;
                }
            }
        }

        // ダッシュボードブロック
        .userDashboardWrapper {
            height: 100%;
            .dashboardContainer {
                height: 100%;
                .dashboardGridTop {
                    height: 100%;
                    .dashboardTop {
                        height: 100%;
                    }
                }
                .dashboardGridBottom {
                    height: 100%;
                }
            }
        }
    }
}
